.App{
  text-align: center;
}
nav{
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 10vh;
  background-color: rgb(73, 79, 82);
  color: white;
}
.nav-links{
  width: 40px;
  list-style: none;
  margin: 0px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}